/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    .teachers .control-form .control-form-add .control-form-add-from select,
    .teachers .control-form .control-form-add .control-form-add-from input {
        padding: 8px 15px;
        width: 200px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .control-form-add-from{
        flex-direction: column;
    }
    .teacherControlButton{
        height: 50px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .logoNavbarText{
        display: none !important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}