::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  /* Scrollbar trekining fon rangi */
  border-radius: 5px;
  /* Scrollbar trekining burchak radiusi */
}

::-webkit-scrollbar-thumb {
  background: #27a9e180;
  /* Scrollbar thumbning rangi */
  border-radius: 10px;
  /* Scrollbar thumbning burchak radiusi */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Hover qilinganida scrollbar thumbning rangi */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SUSE', sans-serif;
}
ul {
  padding: 0 !important;
  margin: 0;
  li {
    list-style-type: none;
  }
}
a {
  text-decoration: none !important;
}
p {
  padding: 0;
  margin: 0 !important;
}
.hide {
  display: none !important;
}
// containerLogin
.containerLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #020817;
  .login {
    background-color: #111827;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .loginTitle_top {
      text-align: center;
      color: orange;
      font-size: 25px;
      letter-spacing: 2px;
    }
    .loginImg {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      img {
        width: 100%;
      }
    }
    form {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .form-group {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 15px;
        label {
          color: #ffffff9c;
          margin-bottom: 3px;
        }
        span {
          color: red;
        }
        input {
          width: 100%;
          padding: 8px 15px;
          outline: none;
          background-color: #1e3865;
          border: none;
          color: #fff;
          font-size: 18px;
          border-radius: 5px;
        }
        button {
          background-color: #1e3865;
          color: orange;
          padding: 8px 25px;
          margin-top: 25px;
          border: none;
          font-size: 20px;
          border-radius: 5px;
          box-shadow: inset 3px 3px 10px #315086, inset -3px -3px 10px #030508;
        }
      }
      .form-group-btn {
        display: flex;
        align-items: end;
      }
      .error-login {
        color: red;
      }
    }
  }
}

// homehtmlhtml

.container-home {
  background-color: #020817;
  height: 100vh;
  overflow: hidden;
  .container-home-row {
    padding: 0;
    .container-home-row-colLeft {
      padding: 0;
      background-color: #111827;
      height: 100vh;
      .home-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: orange;
        font-size: 24px;
        padding: 15px 0;
        border-bottom: 1px solid #939393;
        gap: 20px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .home-main {
        ul {
          padding-top: 20px !important;
          li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            padding: 8px 15px;
            cursor: pointer;
            border-bottom: 1px solid;
            transition: 0.5s;

            i {
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #9e9e9e;
              font-size: 18px;
            }
            span {
              color: #cecccc;
              font-size: 16px;
            }
          }
        }
      }
    }
    .container-home-row-colRight {
      padding: 0 !important;
      .main-right-blok-top {
        padding: 10px;
        background-color: #111827;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        button {
          width: 35px;
          height: 35px;
          background-color: #1a2d50;
          border: none;
          border-radius: 5px;
          i {
            color: #fff;
          }
        }
        .user_name {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          color: #fff;
          i {
            border-radius: 50%;
            border: 1px solid #fff;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .main-right-blok {
        .home-mine-blok-item {
          background-color: #111827;
          margin: 10px;
          padding: 10px;
          border-radius: 5px;
          display: none;
          &.active {
            display: block;
          }
        }
      }
    }
  }
}
.container-home
  .container-home-row
  .container-home-row-colLeft
  .home-main
  ul
  li:hover,
.container-home
  .container-home-row
  .container-home-row-colLeft
  .home-main
  ul
  li.active {
  background-color: #1a2d50;
  color: orange;
  transition: 0.5s;
}
.home-mine-blok-item {
  height: 89vh;
  .loading {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    .spinner-border {
      color: orange;
    }
  }
}
.home-mine-blok-item .loading.active {
  display: flex !important;
}

.home-mine-blok-item {
  .main {
    position: relative;
    .topTitle {
      color: #fff;
      font-size: 20px;
      span {
        color: #999;
      }
    }
    .main_box_items {
      .main-techers-students {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding: 15px 0;
        .items_box {
          background-color: #1a2d50;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 20px 0;
          p {
            font-size: 25px;
            color: #eee;
          }
          i {
            font-size: 30px;
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: orange;
            background-color: #0d1c3d;
            box-shadow: inset -3px -3px 5px #152955, inset 3px 3px 5px #102c6a;
          }
        }
      }
      .main-about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        .main-about-items {
          background-color: #1a2d50;
          border-radius: 5px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 20px;
          padding-left: 30px;
          height: 120px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          ::after {
            position: absolute;
            right: -100px;
            top: 0;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            content: '';
            background-color: #2f5fb8f9;
            transition: 0.3s;
          }
          &:hover ::after {
            box-shadow: 0px 0px 15px #fff;
            transition: 0.3s;
          }
          i {
            color: orange;
            font-size: 40px;
          }
          span {
            color: #eee;
            font-size: 18px;
          }
        }
      }
    }
  }
}
.newYers-yaratish {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 8px 12px;
    background-color: #3c8dbc;
    border-radius: 5px;
    border: none;
  }
}
.newYers {
  padding: 20px 0 !important;
  overflow-y: auto;
  height: 600px;
  .newYers-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #1a2d50;
    color: #fff;
    font-size: 18px;
    button {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
      &:nth-child(1) {
        color: aqua;
      }
      &:nth-child(2) {
        color: red;
      }
    }
  }
}
.madal-winndow-new-yer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  backdrop-filter: blur(5px);
  display: none;
  &.active {
    display: block;
  }
  .exit-madal-window,
  .exit-madal-window-edit {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 25px;
  }
  .madal-window-title {
    color: #fff;
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 15px;
  }
  .form-mada-new-yer {
    display: flex;
    padding: 15px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    label {
      color: #fff;
      padding-left: 5px;
      margin-bottom: 8px;
    }
    .input-tip {
      width: 100%;
    }
    input[type='text'],
    select {
      width: 100%;
      padding: 8px 12px;
      background-color: #1a2d50;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 5px;
    }
    .btn_input_seve {
      width: 100%;
      display: flex;
      align-content: center;
      justify-content: end;
      padding-top: 20px;
      input {
        background-color: #1a2d50;
        color: #fff;
        border: 1px solid #a3a3a3;
        padding: 8px 25px;
        border-radius: 5px;
      }
    }
  }
}

.madal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.582);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 216;
  &.active {
    display: block;
  }
  .exit-madal {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 25px;
  }
  .madal-title {
    color: #fff;
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 15px;
  }
  .medya-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 15px;
    .medya-form-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
      label {
        color: #fff;
        padding-left: 10px;
        margin-bottom: 8px;
      }
      input,
      select {
        width: 100%;
        padding: 8px 12px;
        background-color: #1a2d50;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 5px;
      }
      button {
        width: 120px;
        background-color: #1a2d50;
        color: #fff;
        border: 1px solid #a3a3a3;
        padding: 8px 25px;
        border-radius: 5px;
      }
    }
  }
}

.newStudent-craete {
  width: 100%;
  margin-bottom: 15px;
  .topTitle {
    color: #fff;
    font-size: 20px;
    span {
      color: #999;
    }
  }
}
.createStudentMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  position: relative;
  .createItem {
    padding: 10px;
    border-radius: 5px;
    background-color: #1a2d50;
    .createItemTitle {
      color: #fff;
    }
    form.studentAddForm {
      padding: 5px;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      .formItemsStudentCreat {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        label {
          padding-left: 5px;
          color: #9e9e9e;
        }
        input,
        select {
          padding: 7px 15px;
          font-size: 18px;
          background-color: #314a78;
          color: #fff;
          outline: none;
          border-radius: 5px;
          border: none;
        }
        button {
          background-color: #3c8dbc;
          width: 120px;
          padding: 7px 12px;
          border: none;
          border-radius: 5px;
          margin-bottom: 20px;
          margin-top: 20px;
        }
      }
    }
    .searchStudent {
      width: 100%;
      padding: 7px 12px;
      outline: none;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      color: #fff;
      background-color: #314a78;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .studentList {
      height: 480px;
      overflow-y: auto;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        border-bottom: 1px solid #fff;
        padding: 8px 15px;
        p {
          font-size: 18px;
          color: #9e9e9e;
        }
        span {
          color: #7e7e7e;
          font-size: 14px;
          display: block;
        }
        button {
          background-color: transparent;
          border: none;
          &:nth-child(1) {
            color: aqua;
          }
          &:nth-child(2) {
            color: red;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.select2-search__field {
  display: none;
}
.select2-results__options {
  z-index: 5454654 !important;
}
.select2-selection {
  background-color: #314a78 !important;
  outline: none !important;
  border: none !important;
  padding: 5px !important;
}
.select2-selection__choice {
  background-color: #1a2d50 !important;
  color: #fff !important;
  display: flex !important;
  align-content: start !important;
  justify-content: center !important;
}
.madal_from_teacher {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  .select2-selection {
    background-color: #1a2d50 !important;
    min-height: 40px !important;
  }
}

.profilAbout {
  ul {
    display: flex;
    flex-direction: column;
    li {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      width: 50%;
      label {
        color: #e9e9e9;
        margin-bottom: 5px;
      }
      input {
        background-color: #1a2d50;
        padding: 7px 15px;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 5px;
      }
      button {
        width: 120px;
        background-color: #3c8dbc;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
      }
    }
  }
}

.chat {
  height: 610px;
  overflow: auto;
  .topBarChatInput {
    padding-top: 20px;
    .topBarChatInputForm {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .topBarChatInputFormItems {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        select,
        input {
          background-color: #1a2d50;
          color: #fff;
          width: 250px;
          padding: 8px;
          border-radius: 4px;
          outline: none;
          border: none;
        }
      }
      button {
        background-color: #3c8dbc;
        padding: 7px 15px;
        border: none;
        border-radius: 4px;
      }
    }
  }
  .topBarChatInformation {
    height: 520px;
    padding: 10px;
    overflow-y: auto;
    .madalChatInformatio {
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      &.active {
        display: flex;
      }
      img {
        width: 40%;
      }
    }
    .madalChatStudentInformation {
      width: 100%;
      height: 100%;
      display: none;
      &.active {
        display: block;
      }
      .madalChatStudentInformationBtn {
        form {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          button:nth-child(1) {
            padding: 8px 20px;
            border-radius: 5px;
            background-color: #3c8dbc;
            border: none;
          }
          button:nth-child(2) {
            padding: 8px 20px;
            border-radius: 5px;
            background-color: lightgreen;
            border: none;
            img {
              width: 25px;
            }
          }
        }
      }
      ul {
        padding-top: 10px !important;
        .firstUser {
          background-color: #1a2d50;
          color: #fff;
          text-align: center;
          p {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: none;
            border: 1px solid #797979;
            span {
              font-size: 12px;
              color: #999;
            }
          }
        }
        li {
          display: grid;
          grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr 1fr 0.7fr;
          .studentNmae {
            text-align: start;
          }
          p {
            border: 1px solid #797979;
            text-align: center;
            width: 100%;
            padding: 5px;
            color: #fff;
            input {
              width: 100%;
              background-color: transparent;
              border: none;
              color: #fff;
              outline: none;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .chatStatistic {
    margin-top: 20px;
    width: 100%;
    .chatStatisticTitle {
      color: #fff;
      font-size: 20px;
    }
    .chatStatisticInformation {
      width: 100%;
      .searchTeacher {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin-right: 15px !important;
          color: #fff;
        }
      }
      .btnTeacherChat {
        margin-left: 10px;
        width: 50px;
        background-color: #1a2d50;
        color: orange;
      }
      ul {
        padding: 10px !important;
        .chatStatisticInformationItems {
          background-color: #1a2d50;
          p {
            text-align: center !important;
          }
        }
        li {
          display: grid;
          grid-template-columns: 0.5fr 4fr 0.5fr;
          color: #fff;
          p {
            border: 1px solid #999;
            text-align: center;
            padding: 8px 15px;
          }
          .itemsChat {
            text-align: start;
          }
        }
      }
    }
  }
}
.teachers {
  width: 100%;
  background-color: #020817;
  min-height: 100vh;
  padding: 0 !important;
  .navbar {
    width: 100%;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    .logoNavbar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      img {
        width: 45px;
      }
      P {
        color: #ffff;
        font-size: 20px;
      }
    }
    .navbarTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      p {
        color: orange;
        font-size: 20px;
      }
      i {
        width: 35px;
        height: 35px;
        border: 1px solid orange;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: orange;
        border-radius: 50%;
      }
    }
  }
  .control-form {
    .control-form-add {
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding: 25px 0;
      .control-form-add-from {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        select,
        input {
          background-color: #1a2d50;
          color: #fff;
          padding: 8px 15px;
          width: 300px;
          border: none;
          outline: none;
          border-radius: 4px;
        }
      }
      button {
        background-color: #3c8dbc;
        color: #fff;
        border: none;
        padding: 7px 20px;
        border-radius: 5px;
      }
    }
    .teacher-madal {
      width: 100%;
      min-height: 70vh;
      display: none;
      align-items: center;
      justify-content: center;
      &.active {
        display: flex;
      }
      img {
        width: 50%;
      }
    }
    .information-students {
      height: 75vh;
      overflow-y: auto;
      .information-students-items {
        background-color: #1a2d50;
        color: #fff;
        text-align: center;
        padding: 5px;
      }
      li {
        display: grid;
        grid-template-columns: 0.5fr 4fr 1fr;
        color: #fff;
        border-bottom: 1px solid #1a2d50;
        padding: 5px;
        margin-bottom: 5px;
        p {
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          &:nth-child(2) {
            justify-content: start;
          }
          input {
            width: 100%;
            background-color: transparent;
            border: none;
            text-align: center;
            outline: none;
            color: orange;
            background-color: #111827;
            padding: 8px;
          }
        }
      }
      .studentSeve {
        display: flex;
        align-items: center;
        justify-content: end;
        button {
          background-color: #3c8dbc;
          padding: 8px 25px;
          border: none;
          color: #fff;
          border-radius: 5px;
        }
      }
    }
  }
}
.madalLogin {
  position: fixed;
  bottom: 20px;
  right: -200%;
  background-color: rgb(158, 47, 47);
  color: #fff;
  padding: 10px 25px;
  display: none;
  &.active {
    display: block;
    animation: madalLogin 5s 1;
  }
}
@keyframes madalLogin {
  0% {
    bottom: 20px;
    right: -200%;
  }
  10% {
    bottom: 20px;
    right: 20px;
  }
  75% {
    bottom: 20px;
    right: 20px;
  }
  100% {
    bottom: 20px;
    right: -200%;
  }
}

.madal_main {
  position: fixed;
  bottom: 10px;
  right: -150%;
  z-index: 5566546;
  padding: 10px 25px;
  border-radius: 5px;
}
.madal_main.active {
  animation: madal_main1 4s 1;
}
.madal_main.success {
  background-color: lime;
}
.madal_main.error {
  background-color: red;
}

@keyframes madal_main1 {
  0% {
    right: -150%;
  }
  20% {
    right: 10px;
  }
  80% {
    right: 10px;
  }
  100% {
    right: -150%;
  }
}
